.post__text{
    font-size: 1rem;
    text-indent: 1rem;
}

div button{
    display: block;
}

.post__variant__bar{
    height: 2.4em;
    text-indent: 1em;
    text-align: left;
    position: relative;
    font-size: 1em;
    width: 100%;
    float: left;
}

.post__variant__text{
    text-align: left;
    color: white;
    font-weight: 600;
}